﻿@model MovieApp.ViewModels.RandomMovieViewModel
@{
    ViewBag.Title = "Random";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Movies</h2>

@if (Model.Movie.Count == 0)
{
    <p>Sorry. No records available currently</p>
}
else
{
<table class="table table-striped table-hover" style="width:50%">
    <thead>
        <tr>
            <th scope="col">Movie ID</th>
            <th scope="col">Movie Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var movie in Model.Movie)
        {
        <tr>
            <th scope="row">@movie.Id</th>
            <td>@movie.Name</td>
        </tr>
        }
    </tbody>
</table>
}
