﻿@model MovieApp.ViewModels.RandomMovieViewModel
@{
    ViewBag.Title = "RandomCustomer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>RandomCustomer</h2>

@if (Model.Customers.Count == 0)
{
    <p>Sorry. No records available currently</p>
}
else
{
    <table class="table table-striped table-hover" style="width:50%">
        <thead>
            <tr>
                <th scope="col">Customer ID</th>
                <th scope="col">Customer Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var customer in Model.Customers)
            {
                <tr>
                    <th scope="row">@customer.Id</th>
                    <td>@Html.ActionLink(customer.Name, "details", "customers", new { Id = customer.Id}, null)</td>
                </tr>
            }
        </tbody>
    </table>
}



